@import "{}/imports/ui/stylesheets/not-found.less";

// .column {
//     border: 1px dotted darkorange;
// }

.title--home {
    margin-bottom: 1em !important;
    margin-top: 4em !important;
}

.find.icon {
    color: #2ca58d;
}

.users.icon {
    color: #0e79b2;
}

.user.icon {
    color: #f03a47;
}

.card-container {
    margin-bottom: 1em !important;
    width: 100% !important;
}

.image--customized {
    height: 20em !important; 
}

.menu--customized {
    margin-left: 1em !important;
}

#signupForm-Container, #loginForm-Container {
    margin-top: 7em;
}

.white-font {
    color: white !important;
}

.user-target {
    margin-left: 0.5em;
    color: orangered;
}
